.multiselect-input {
	display: inline-flex;
	padding: .25rem .75rem;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1rem;
	font-size: .875rem;
	flex-direction: column;
}

.multiselect-filter-button {
	-webkit-appearance: none;
	appearance: none;
	display: flex;
	gap: .5rem;

}

.multiselect-container {
	display: inline-flex;
	padding: .25rem .75rem;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1rem;
	font-size: .875rem;
	flex-direction: column;
}

.selected-item {
	display: inline-flex;
	padding: .25rem .75rem;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1rem;
	font-size: .875rem;
}