.multiselect {

}

.multiselect-input {
    display: inline-flex;
	padding: .25rem .75rem;
	background: #cee7fe;
	border: 1px solid #0090ff;
	border-radius: 1rem;
	font-size: .875rem;
	flex-direction: column;
}


.selected-items {
    
}

.selected-item {
	display: inline-flex;
	padding: .25rem .75rem;
	background: #cee7fe;
	border: 1px solid #0090ff;
	border-radius: 1rem;
	font-size: .875rem;
}