body {
  background: #eee;
}

.app-content {
  padding: 1rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 2px solid #ccc;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
/* search */
.app-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: .5rem;
}

.app-filters {
  display: flex;
  gap: .5rem;
}

.search {
  -webkit-appearance: none;
  appearance: none;
  padding: 1rem;
  width: 50ch;

  border: 0;
  border-radius: .25rem;
  font-size: inherit;
}

/* items */
.items {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: center;
}

#admin-main {
  padding: 0.5em;
}

#admin-main button {
  font-size: 1em;
  padding: 0.5em;
}

#admin-main h2 {
  margin: 0.5em 0;
}

#admin-main textarea {
  height: 16em;
  width: 95vw;
}

#admin-main .sql-output {
  border: 1px solid black;
  font: 1em monospace;
  padding: 0.5em;
  height: 24em;
  margin: 0.5em;
  overflow: auto;
  white-space: pre;
}
