body {
  background: #eee;
  padding: 1rem;
}

.app-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: .5rem;
}

.app-filters {
  display: flex;
  gap: .5rem;
}

/* search */
.search {
  -webkit-appearance: none;
  appearance: none;
  padding: 1rem;
  border: 0;
  border-radius: .25rem;
  font-size: inherit;
}

/* items */
.items {
  display: flex;
  gap: .5rem;
}
